.{{ include.t.id }} { font-family: "{{ include.t.name }}"; }
{% for note in include.t.notes %}
.annotations li.{{ include.t.id }}.{{ note.glyph}} {
  left: {{ note.left }}px;
  height: {{ note.height }}px;
  bottom: {{ include.bottom }}px;
}
{% endfor %}
