<!DOCTYPE html>
<html>
<head>
{% include head.html %}
{% assign t1 = site.data.typefaces[page.example1] %}
{% assign t2 = site.data.typefaces[page.example2] %}
<style>
{% include notes.css t=t1 bottom=0 height=80 %}
{% include notes.css t=t2 bottom=80 height=0 %}
</style>
</head>
<body>
<div id="header">
<table class="key">
  <tbody>
    <tr><td class="first {{ t1.id }}">{{ t1.text }}</td><td class="name">{{ t1.name }}</td></tr>
    <tr><td class="second {{ t2.id }}">{{ t2.text }}</td><td class="name">{{ t2.name }}</td></tr>
  </tbody>
</table>
  <h1>
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>:
    <a href="/{{ t1.id }}">{{ t1.name }}</a> vs <a href="/{{ t2.id }}">{{ t2.name }}</a>
  </h1>
</div>
<div id="main">
<div class="typediff">
  <div class="first example {{ t1.id }}">
      <p class="text">{{ t1.text }}</p>
  </div>
  <div class="second example {{ t2.id }}">
      <p class="text">{{ t2.text }}</p>
  </div>
</div>
<div id="annotations">
  <ol class="annotations">
{% include notes.html t=t1 %}
{% include notes.html t=t2 %}
  </ol>
</div>
</div>
{% include footer.html %}
</body>
</html>
